@model IEnumerable<Library.Models.Product>

@{
    ViewData["Title"] = "Basket";
}

@if (ViewBag.Status != null)
{
    @if (ViewBag.Status.IsSuccess)
    {
        <div class="alert alert-success" role="alert">@ViewBag.Status.Message</div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">@ViewBag.Status.Message</div>
    }
}

<h1>Basket</h1>
<div class="d-flex flex-wrap">
    @foreach (var item in Model)
    {
        <div class="card card-body" style="width: 18rem; max-width: 320px">
            <h4 class="card-title">@item.Name</h4>
            <h6 class="card-subtitle mb-2 text-muted">@item.Producer</h6>
            <h4 class="card-title">@item.Price</h4>
            <p class="card-text">@item.Details</p>
            <a asp-action="Product" asp-route-id="@item.Id" class="btn btn-outline-dark">View</a>
            <a asp-action="DeleteFromBasket" asp-route-id="@item.Id" class="btn btn-outline-dark">Remove</a>
            <a asp-action="Purchase" asp-route-id="@item.Id" class="btn btn-outline-dark">Purchase</a>
        </div>
    }
</div>